POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=email_service

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
INCOMING_TOPIC=incoming-emails
CLASSIFICATION_TOPIC=email-classification
SUMMARY_TOPIC=email-summary